@model IEnumerable<MovieStore.Models.Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">You added a Movie to Movie Store</h1>

</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="card col-md-4">
            <img src="~/images/@item.ImgURL" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">@item.Title</h5>
                <h5 class="card-title">@item.Director</h5>
                <p class="card-text">@item.Description</p>
                <h3>Price SEK @item.Price</h3>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    }
</div>