@using MovieStore.Helpers
@{
    var idList = Context.Session.Get<List<int>>("movieIdlist");
    var movieCount = 0;
    if (idList != null)
    {
        movieCount = idList.Count;
       
    }
    var className = movieCount == 0 ? "notShowCart" : "showCart";
    
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MovieStore</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MovieStore.styles.css" asp-append-version="true" />
    <style>
        .navbar {
            background-color: gold;
            color: red;
           
        }

        body {
            background-color: black;
            font-family: Arial, sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333;
            margin-bottom: 60px
        }

        .card {
            width: 200px;
            border: 3px solid #b20710;
            background-color: #1F2933;
            border-radius: 10px;
            overflow: hidden;
            margin: 10px;
            height: auto;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        }

            .card img {
                width: 100%;
                
            }

        .card-title {
            font-size: 20px;
            margin: 10px 0;
            color: red;
        }

        .card-text {
            font-size: 16px;
            color: #B0BAC9;
        }

        .movie-form {
            background-color: #222222;
            padding: 10px;
            border-radius: 4px;
        }

        h1 {
            color: #b20710;
            font-weight: bold;
        }

        h5 {
            color: gold;
            font-style: italic; 
            font-weight: bold; 
        }

        h4 {
            color: #b20710;
            font-weight: bold;
            font-style: italic;
        }

        h3 {
            color: red;
            font-weight: bold;
        }

        .centered {
            text-align: center;
            clear: both;
            color: red;
            font-weight: bold;
        }
        .showCart{

        }

        footer {
            background-color: #f2f2f2;
            text-align: center;
            padding: 5px;
        }
        .showCart{
            display:block;
        }

        .notShowCart {
            display: none;
        }

        .cart-container {
            margin-right: 20px; /* Adjust the value as needed */
        }
    </style>
</head>
<body>
    <header>
          <nav class="navbar navbar-expand-sm navbar-toggleable-sm @*navbar-light bg-white*@ border-bottom box-shadow mb-3">
                <div class="container-fluid">
                    <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">MovieStore</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                            </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Index">Shop Movie</a>
                        </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Movie" asp-action="Create">Add Movie</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                            </li>
                        <a asp-controller="Order" asp-action="ShoppingCart"></a>
                        </ul>
                    <div id="cartDiv" class="notShowCart">
                        <button type="button" class="nav-link box cart-btn m-2">
                            <a class="nav-link" asp-area="" asp-controller="Cart" asp-action="ShoppingCart">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="white"><path d="M0 0h24v24H0V0z" fill="none"></path><path d="M15.55 13c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.37-.66-.11-1.48-.87-1.48H5.21l-.94-2H1v2h2l3.6 7.59-1.35 2.44C4.52 15.37 5.48 17 7 17h12v-2H7l1.1-2h7.45zM6.16 6h12.15l-2.76 5H8.53L6.16 6zM7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm10 0c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z"></path></svg>
                                <span id="cartCount" class="badge bg-secondary">@movieCount</span>

                            </a>
                        </button>
                    </div>
                    </div>

                    <div>
                        <div class="search-container">
                        <form class="d-flex" asp-controller="Movie"asp-controller="Search">
                            <input type="text" placeholder="Search...">
                            <button type="submit">Search</button>
                            
                        </form>
                        </div>
                       
                    </div>
                    
                </div>
            <span class="cart-icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                </svg>
            </span>
            @*<div id="cart">
                <span id="item-count">0</span>
                <button id="cart-button">View Cart</button>
            </div>*@
                <div class="notShowCart"> 
            <i class="fa fa-shopping-cart me-2"></i><span id="cartCount" class="badge bg-primary">@movieCount</span>
            </div>
          </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - MovieStore Team ® Stefan + Gaston + Abdoulie ®- <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
