@model MovieStore.Models.ViewModels.FrontPageVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2 mb-3">Welcome to MovieStore</h1>

</div>

<h4 class="m-5 text-center">Our bestsellers</h4>
<partial name="_moviesPartial" model="@Model.TopSellerMovies" />


<h4 class="m-5 text-center">Our cheapest movies 👌</h4>
<partial name="_moviesPartial" model="@Model.CheapestMovies" />

<h4 class="m-5 text-center">Our newest movies 🎉</h4>
<partial name="_moviesPartial" model="@Model.NewestMovies" />

<h4 class="m-5 text-center">Our oldest movies 😎</h4>
<partial name="_moviesPartial" model="@Model.OldestMovies" />




