@model MovieStore.Models.ViewModels.FrontPageVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size: 30px; font-weight: bold; font-style: italic;">Welcome to Movie Store</h1>
   @* <h1 class="display-4">Welcome to Movie Store</h1>
*@
</div>

 <h4 class="m-5 text-center"> BestSeller Movies 👌 </h4>
        <partial name="_movieListPartial" model="@Model.Top5Movies"/>

        <h4 class="m-5 text-center"> Cheapest Movies 👌 </h4>
<partial name="_movieListPartial" model="@Model.Top5CheapestMovies" />
        <h4 class="m-5 text-center"> New Movies 👌 </h4>
<partial name="_movieListPartial" model="@Model.Top5NewestMovies"/>
        <h4 class="m-5 text-center"> Oldest Movies 👌 </h4>
<partial name="_movieListPartial" model="@Model.Top5OldestMovies" />
<div class="centered">
</div>



