@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    <strong><em>Privacy Statement</em></strong><br>
    <br>
    At  Movie Web Shop], we take your privacy seriously. This privacy statement explains how we collect,
    use, and protect your personal information when you visit and make use of our website.<br>
    <br>
    ### Information We Collect<br>
    <br>
    When you visit our website, we may collect certain information about you, such as your name, email address, and browsing behavior.
    This information is collected through cookies and similar technologies. We may also collect information that you voluntarily provide to us, 
    such as when you create an account or make a purchase.<br>
    <br>
    ### How We Use Your Information<br>
    <br>
    We use the information we collect to provide you with a personalized and seamless shopping experience. 
    This includes:<br>
    <br>
    - Processing your orders and payments
    - Sending order confirmations and updates
    - Providing customer support
    - Personalizing your shopping experience
    - Sending promotional offers and newsletters (with your consent)<br>
    <br>
    ### Data Security<br>

    We take appropriate measures to protect your personal information from unauthorized access,
    alteration, disclosure, or destruction. We use industry-standard security technologies and procedures to safeguard your data.<br>
    <br>
    ### Data Retention<br>
    <br>
    We retain your personal information for as long as necessary to fulfill the purposes outlined in this privacy statement,
    unless a longer retention period is required or permitted by law.<br>
    <br>
    ### Third-Party Services<br>
    <br>
    We may use third-party services, such as payment processors and analytics tools,
    to enhance your shopping experience.These third parties may have access 
    to your personal information, but they are obligated to handle it in a 
    secure and confidential manner.<br>
    <br>
    ### Your Rights <br>
    <br>
    You have the right to access, update, and delete your personal information. If you would like to exercise any of
    these rights or have any questions about our privacy practices, please contact us using the information provided below.<br>
    <br>
    ### Changes to this Privacy Statement<br>
    <br>
    We may update this privacy statement from time to time to reflect changes in our practices or legal obligations.
    We encourage you to review this statement periodically for any updates.<br>
    <br>
    ### Contact Us<br>

    If you have any questions or concerns about our privacy practices, please contact us at:<br>
    <br>
    [ Movie Web Shop]<br>
    Email: [contact@example.com]<br>
    Phone: [123-456-7890]

     </p>
