html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
body {
    background-color: black;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 60px
}

.card {
    width: 200px;
    border: 3px solid #b20710;
    background-color: #1F2933;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px;
    height: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

    .card img {
        width: 100%;
    }

.card-title {
    font-size: 20px;
    margin: 10px 0;
    color: red;
}

.card-text {
    font-size: 16px;
    color: #B0BAC9;
}

.movie-form {
    background-color: #222222;
    padding: 10px;
    border-radius: 4px;
}

h1 {
    color: #b20710;
    font-weight: bold;
}

h5 {
    color: gold;
    font-style: italic;
    font-weight: bold;
}

h4 {
    color: #b20710;
    font-weight: bold;
    font-style: italic;
}

h3 {
    color: red;
    font-weight: bold;
}

.centered {
    text-align: center;
    clear: both;
    color: red;
    font-weight: bold;
}


footer {
    background-color: #f2f2f2;
    text-align: center;
    padding: 5px;
}

.showCart {
    background-color:white;
    display: block;
}

.notShowCart {
    display: none;
}

.cart-container {
    margin-right: 20px; /* Adjust the value as needed */
}